In [1]:
from time import time
from cassandra.cluster import Cluster
from cassandra.query import tuple_factory
import pandas as pd

cluster = Cluster(['35.203.92.156'])
cluster.control_connection_timeout = 20.0 #None
session = cluster.connect()
formato = 'utf8'

In [2]:
KEYSPACE = "bdm"
#KEYSPACE = "microdados"
session.set_keyspace(KEYSPACE)
session = cluster.connect(KEYSPACE)
session.row_factory = tuple_factory

In [3]:
dfQuery = pd.read_csv('saida_light.csv', sep=";")

for index, row in dfQuery.iterrows():
    qq = row['query'] + ' LIMIT 1'
    print (str(index) + ' - ' + str(qq))
    try:
        rows = session.execute(qq, timeout=20);
        count = 0
        for i in rows:
            count += 1
            break
        print(' tem ' + str(count))

        pass
    except Exception as e: # work on python 3.x
        print("Erro - " + str(index) + ' - ' + str(e))

0 - SELECT IN_AMPLIADA_24, ST_CONCLUSAO FROM ENEM WHERE TP_LINGUA = 1 LIMIT 1
 tem 1
1 - SELECT UF_ESC_CENSO, TP_LOCALIZACAO_ESC, IN_MOBILIARIO_OBESO, Q022 FROM ENEM WHERE IN_PRESENCA_MT = 0 LIMIT 1
 tem 0
2 - SELECT IN_SEM_RECURSO, TX_GABARITO_MT FROM ENEM WHERE CO_UF_ESC = 0 LIMIT 1
 tem 0
3 - SELECT TP_PRESENCA_LC FROM ENEM WHERE IN_OUTRA_DEF = 0 LIMIT 1
 tem 1
4 - SELECT TP_LOCALIZACAO_ESC FROM ENEM WHERE NU_ANO = 2013 LIMIT 1
 tem 0
5 - SELECT CO_MUNICIPIO_ESC, IN_SOROBAN, TP_SIT_FUNC_ESC, Q017, NO_MUNICIPIO_ESC, IN_QSE, NO_MUNICIPIO_NASCIMENTO, IN_BRAILLE FROM ENEM WHERE TX_GABARITO_CN = '0'  LIMIT 1
 tem 0
6 - SELECT IN_PRESENCA_CN FROM ENEM WHERE IN_LACTANTE = 0 LIMIT 1
 tem 1
7 - SELECT IN_MAQUINA_BRAILE, NU_NT_CN FROM ENEM WHERE IN_DEFICIENCIA_AUDITIVA = 0 LIMIT 1
 tem 1
8 - SELECT CO_MUNICIPIO_PROVA FROM ENEM WHERE TP_SIT_FUNC_ESC = 0 LIMIT 1
 tem 0
9 - SELECT TP_PRESENCA_LC FROM ENEM WHERE TP_ST_CONCLUSAO = 3 LIMIT 1
 tem 1
10 - SELECT IN_OUTRA_DEF, SG_UF_PROVA, NU_NT_MT, NU_NOTA_CN FROM ENEM WHERE IN_PRESENCA_CN = 0 LIMIT 1
 tem 0
11 - SELECT NO_MUNICIPIO_NASCIMENTO FROM ENEM WHERE GABARITO_LC = '0'  LIMIT 1
 tem 0
12 - SELECT ID_LOCALIZACAO_CENSO FROM ENEM WHERE SG_UF_RESIDENCIA = '0'  LIMIT 1
 tem 0
13 - SELECT Q025 FROM ENEM WHERE NU_NOTA_COMP4 = 120.0 LIMIT 1
 tem 0
14 - SELECT Q022 FROM ENEM WHERE ID_DEPENDENCIA_ADM_ESC = 0 LIMIT 1
 tem 0
15 - SELECT NU_NT_MT, IN_MESA_CADEIRA_RODAS, NU_INSCRICAO, IN_NOME_SOCIAL FROM ENEM WHERE CO_MUNICIPIO_PROVA = 2611606 LIMIT 1
 tem 1
16 - SELECT Q015, ID_LOCALIZACAO_ESC, IN_SALA_INDIVIDUAL, TX_RESPOSTAS_CN FROM ENEM WHERE CO_MUNICIPIO_PROVA = 3550308 LIMIT 1
 tem 1
17 - SELECT NU_IDADE FROM ENEM WHERE NO_MUNICIPIO_NASCIMENTO = 'JUSCIMEIRA'  LIMIT 1
 tem 0
18 - SELECT IN_MOBILIARIO_OBESO, IN_BRAILLE FROM ENEM WHERE IN_MOBILIARIO_ESPECIFICO = 0 LIMIT 1
 tem 1
19 - SELECT TX_RESPOSTAS_CN FROM ENEM WHERE IN_SONDA = 0 LIMIT 1
 tem 1
20 - SELECT IN_MEDICAMENTOS, Q016, NU_INSCRICAO, IN_MEDIDOR_GLICOSE FROM ENEM WHERE IN_PROVA_DEITADO = 0 LIMIT 1
 tem 1
21 - SELECT TP_PRESENCA_CH FROM ENEM WHERE Q021 = '0'  LIMIT 1
 tem 0
22 - SELECT NU_IDADE FROM ENEM WHERE NO_MUNICIPIO_ESC = '0'  LIMIT 1
 tem 0
23 - SELECT IN_GESTANTE FROM ENEM WHERE TP_LOCALIZACAO_ESC = 0 LIMIT 1
 tem 0
24 - SELECT NU_NOTA_CN, IN_DEFICIENCIA_AUDITIVA, CO_UF_NASCIMENTO, ID_LOCALIZACAO_CENSO, IN_SALA_ACOMPANHANTE, NU_ANO, NO_MUNICIPIO_INSC, ST_CONCLUSAO FROM ENEM WHERE NU_NOTA_CH = 427.8 LIMIT 1
 tem 1
25 - SELECT Q007 FROM ENEM WHERE IN_CADEIRA_ESPECIAL = 0 LIMIT 1
 tem 1
26 - SELECT TX_RESPOSTAS_CN, TP_NACIONALIDADE FROM ENEM WHERE NU_NOTA_COMP3 = 80.0 LIMIT 1
 tem 0
27 - SELECT IN_PROTETOR_AURICULAR FROM ENEM WHERE Q013 = 'A'  LIMIT 1
 tem 1
28 - SELECT TX_RESPOSTAS_CH FROM ENEM WHERE IN_CEGUEIRA = 0 LIMIT 1
 tem 1
29 - SELECT Q015 FROM ENEM WHERE Q005 = 'A'  LIMIT 1
 tem 0
30 - SELECT IN_DEFICIENCIA_MENTAL FROM ENEM WHERE NO_MUNICIPIO_ESC_CENSO = ''  LIMIT 1
 tem 0
31 - SELECT TP_ANO_CONCLUIU, Q018 FROM ENEM WHERE TP_SIT_FUNC_ESC = 0 LIMIT 1
 tem 0
32 - SELECT CO_UF_PROVA, CO_UF_NASCIMENTO FROM ENEM WHERE CO_MUNICIPIO_NASCIMENTO = 3543402 LIMIT 1
 tem 1
33 - SELECT IN_CADEIRA_CANHOTO FROM ENEM WHERE TX_RESPOSTAS_CH = 'DAEEADECECAEDDABECBEBDAEBCEEDBAADEADBECDDADEA'  LIMIT 1
 tem 0
34 - SELECT IN_SALA_ACOMPANHANTE, COD_MUNICIPIO_INSC, IN_GESTANTE, IN_SURDEZ FROM ENEM WHERE IN_OUTRA_DEF = 0 LIMIT 1
 tem 1
35 - SELECT IN_GUIA_INTERPRETE, IN_AMPLIADA_18, CO_PROVA_CH, GABARITO_CN FROM ENEM WHERE IN_LEDOR = 0 LIMIT 1
 tem 1
36 - SELECT COD_MUNICIPIO_ESC_CENSO, COD_MUNICIPIO_INSC FROM ENEM WHERE IN_AMPLIADA_18 = 0 LIMIT 1
 tem 1
37 - SELECT CO_PROVA_CN, IN_IDOSO, TP_ST_CONCLUSAO, TP_SEXO FROM ENEM WHERE TP_LINGUA = 1 LIMIT 1
 tem 1
38 - SELECT NU_NOTA_MT FROM ENEM WHERE IN_LACTANTE = 0 LIMIT 1
 tem 1
39 - SELECT NU_NOTA_COMP5, IN_MEDIDOR_GLICOSE FROM ENEM WHERE IN_LACTANTE = 0 LIMIT 1
 tem 1
40 - SELECT TP_LINGUA, Q022 FROM ENEM WHERE SG_UF_ESC = '0'  LIMIT 1
 tem 0
41 - SELECT IN_PRESENCA_CN FROM ENEM WHERE NU_NOTA_COMP2 = 120.0 LIMIT 1
 tem 0
42 - SELECT TP_DEPENDENCIA_ADM_ESC FROM ENEM WHERE CO_MUNICIPIO_NASCIMENTO = 1100205 LIMIT 1
 tem 1
43 - SELECT IN_TP_ENSINO FROM ENEM WHERE IN_SALA_INDIVIDUAL = 0 LIMIT 1
 tem 1
44 - SELECT TX_GABARITO_LC, IN_BRAILLE, SG_UF_NASCIMENTO, Q010, GABARITO_LC, IN_SABATISTA, IN_MARCA_PASSO, ID_DEPENDENCIA_ADM_CENSO, TP_ST_CONCLUSAO, TP_STATUS_REDACAO, IN_UNIDADE_HOSPITALAR, IN_OUTRO, TX_GABARITO_CN, Q025, NU_NOTA_COMP2, TP_LOCALIZACAO_ESC FROM ENEM WHERE NU_NT_CH = 0.0 LIMIT 1
 tem 0
45 - SELECT Q014, Q011, IN_BAIXA_VISAO, Q017 FROM ENEM WHERE IN_PROTETOR_AURICULAR = 0 LIMIT 1
 tem 1
46 - SELECT TX_RESPOSTAS_CH, CO_PROVA_CN, IN_MATERIAL_ESPECIFICO, SG_UF_ENTIDADE_CERTIFICACAO, NO_MUNICIPIO_ESC_CENSO, CO_MUNICIPIO_NASCIMENTO, COD_ETAPA_ENSINO_CENSO, TP_COR_RACA, SG_UF_NASCIMENTO, IN_PRESENCA_MT, IN_LACTANTE, Q012, Q021, IN_SALA_INDIVIDUAL, GABARITO_MT, TP_ST_CONCLUSAO FROM ENEM WHERE IN_SOROBAN = 0 LIMIT 1
 tem 1
47 - SELECT COD_MUNICIPIO_ESC_CENSO FROM ENEM WHERE NU_NT_CN = 0.0 LIMIT 1
 tem 0
48 - SELECT IN_NOME_SOCIAL, IN_MESA_CADEIRA_SEPARADA, ID_LOCALIZACAO_CENSO, IN_ACESSO FROM ENEM WHERE Q009 = 'D'  LIMIT 1
 tem 1
49 - SELECT NU_NOTA_LC FROM ENEM WHERE IN_MATERIAL_ESPECIFICO = 0 LIMIT 1
 tem 1
50 - SELECT IN_MEDICAMENTOS FROM ENEM WHERE SG_UF_ESC = 'CE'  LIMIT 1
 tem 1
51 - SELECT ID_DEPENDENCIA_ADM_ESC, NU_ANO, ID_DEPENDENCIA_ADM_CENSO, Q020 FROM ENEM WHERE TX_RESPOSTAS_CH = '0'  LIMIT 1
 tem 0
52 - SELECT IN_ESTUDA_CLASSE_HOSPITALAR, IN_DEFICIT_ATENCAO FROM ENEM WHERE GABARITO_CN = '0'  LIMIT 1
 tem 0
53 - SELECT NU_NOTA_LC, NU_IDADE, IN_MACA, Q011, IN_SEM_RECURSO, IN_SALA_ESPECIAL, IN_DEFICIT_ATENCAO, Q015, IN_IDOSO, SG_UF_ENTIDADE_CERTIFICACAO, NU_NOTA_CH, Q009, NO_MUNICIPIO_INSC, TX_RESPOSTAS_LC, NO_ENTIDADE_CERTIFICACAO, Q010 FROM ENEM WHERE IN_CONCLUINTE_CENSO = 0 LIMIT 1
 tem 0
54 - SELECT CO_UF_ESC, IN_GUIA_INTERPRETE FROM ENEM WHERE NU_ANO = 2016 LIMIT 1
 tem 0
55 - SELECT IN_PROVA_DEITADO FROM ENEM WHERE IN_AMPLIADA_18 = 0 LIMIT 1
 tem 1
56 - SELECT SG_UF_RESIDENCIA FROM ENEM WHERE CO_PROVA_LC = 175 LIMIT 1
 tem 0
57 - SELECT IN_UNIDADE_HOSPITALAR FROM ENEM WHERE NACIONALIDADE = '0.0'  LIMIT 1
 tem 0
58 - SELECT NO_ENTIDADE_CERTIFICACAO FROM ENEM WHERE TP_STATUS_REDACAO = 1 LIMIT 1
 tem 1
59 - SELECT IN_NOME_SOCIAL FROM ENEM WHERE NU_NT_CN = 0.0 LIMIT 1
 tem 0
60 - SELECT IN_TP_ENSINO, IN_OUTRO FROM ENEM WHERE NU_ANO = 2014 LIMIT 1
 tem 0
61 - SELECT IN_NOME_SOCIAL FROM ENEM WHERE IN_GUIA_INTERPRETE = 0 LIMIT 1
 tem 1
62 - SELECT IN_NOME_SOCIAL, IN_PRESENCA_CH, IN_GESTANTE, CO_PROVA_LC, IN_PRESENCA_LC, IN_IDOSO, TP_ESTADO_CIVIL, Q008, Q009, IN_CADEIRA_ESPECIAL, IN_TRANSCRICAO, IN_SURDEZ, NU_NOTA_REDACAO, NU_NOTA_LC, CO_MUNICIPIO_NASCIMENTO, IN_TREINEIRO FROM ENEM WHERE Q011 = '0'  LIMIT 1
 tem 0
63 - SELECT IN_PRESENCA_CN FROM ENEM WHERE UF_INSC = '0'  LIMIT 1
 tem 0
64 - SELECT CO_MUNICIPIO_RESIDENCIA, IN_IDOSO FROM ENEM WHERE  NU_NOTA_COMP3 = 0.0 ALLOW FILTERING LIMIT 1
Erro - 64 - <Error from server: code=2000 [Syntax error in CQL query] message="line 1:94 mismatched input 'LIMIT' expecting EOF (...NU_NOTA_COMP3 = 0.0 ALLOW FILTERING [LIMIT]...)">
65 - SELECT Q022, IN_UNIDADE_PRISIONAL, IN_DISLEXIA, GABARITO_MT FROM ENEM WHERE IN_APOIO_PERNA = 0 LIMIT 1
 tem 1
66 - SELECT CO_UF_ESC FROM ENEM WHERE IN_MARCA_PASSO = 0 LIMIT 1
 tem 1
67 - SELECT Q004 FROM ENEM WHERE Q006 = 'B'  LIMIT 1
 tem 1
68 - SELECT IN_AMPLIADA_18, IN_DEFICIENCIA_FISICA FROM ENEM WHERE IN_LEITURA_LABIAL = 0 LIMIT 1
 tem 1
69 - SELECT TP_ESCOLA, CO_PROVA_MT, Q016, TX_GABARITO_LC, Q020, Q021, CO_UF_RESIDENCIA, IN_STATUS_REDACAO FROM ENEM WHERE Q006 = 'B'  LIMIT 1
 tem 1
70 - SELECT IN_OUTRO FROM ENEM WHERE SG_UF_RESIDENCIA = 'CE'  LIMIT 1
 tem 1
71 - SELECT NO_ENTIDADE_CERTIFICACAO, ID_DEPENDENCIA_ADM_ESC, NO_MUNICIPIO_ESC_CENSO, TP_PRESENCA_CN FROM ENEM WHERE IN_MESA_CADEIRA_RODAS = 0 LIMIT 1
 tem 1
72 - SELECT SG_UF_NASCIMENTO FROM ENEM WHERE COD_ETAPA_ENSINO_CENSO = 0 LIMIT 1
 tem 0
73 - SELECT CO_UF_ENTIDADE_CERTIFICACAO, NU_NT_MT, IN_LIBRAS, SG_UF_RESIDENCIA, COD_ETAPA_ENSINO_CENSO, IN_SURDO_CEGUEIRA, NO_MUNICIPIO_NASCIMENTO, Q007 FROM ENEM WHERE NO_MUNICIPIO_RESIDENCIA = '0'  LIMIT 1
 tem 0
74 - SELECT IN_APOIO_PERNA FROM ENEM WHERE Q018 = 'A'  LIMIT 1
 tem 1
75 - SELECT IN_CONCLUINTE_CENSO, Q025, Q015, CO_UF_PROVA, PK_COD_ENTIDADE, SG_UF_ENTIDADE_CERTIFICACAO, SG_UF_RESIDENCIA, IN_SABATISTA, NU_IDADE, NU_NT_LC, ID_LOCALIZACAO_ESC, Q014, IN_APOIO_PERNA, IN_COMPUTADOR, Q003, IN_MEDICAMENTOS, Q008, Q018, TP_NACIONALIDADE, IN_LEITURA_LABIAL, IN_MATERIAL_ESPECIFICO, SG_UF_ESC, TP_PRESENCA_CH, IN_MESA_CADEIRA_SEPARADA, CO_MUNICIPIO_RESIDENCIA, TX_GABARITO_CH, IN_PRESENCA_CN, IN_MOBILIARIO_OBESO, IN_MEDIDOR_GLICOSE, IN_BAIXA_VISAO, ID_LOCALIZACAO_CENSO, IN_CADEIRA_ACOLCHOADA, IN_OUTRO, TP_ESCOLA, IN_TREINEIRO, IN_ACESSO, Q021, NO_MUNICIPIO_PROVA, IN_QSE, IN_SOROBAN, IN_CERTIFICADO, IN_DISCALCULIA, IN_AMPLIADA_24, IN_PROVA_DEITADO, IN_PROTETOR_AURICULAR, IN_SALA_ACOMPANHANTE, CO_PROVA_CH, IN_PRESENCA_CH, Q024, TP_SIT_FUNC_ESC, TP_COR_RACA, IN_TP_ENSINO, ID_DEPENDENCIA_ADM_CENSO, Q005, IN_CADEIRA_ESPECIAL, TX_RESPOSTAS_LC, CO_UF_ESC, ID_DEPENDENCIA_ADM_ESC, Q007, ST_CONCLUSAO, IN_PRESENCA_LC, TP_PRESENCA_LC, IN_VISAO_MONOCULAR, Q006 FROM ENEM WHERE Q009 = 'D'  LIMIT 1
 tem 1
76 - SELECT IN_BAIXA_VISAO FROM ENEM WHERE NU_NOTA_CH = 435.8 LIMIT 1
 tem 1
77 - SELECT Q014 FROM ENEM WHERE TX_GABARITO_CN = '0'  LIMIT 1
 tem 0
78 - SELECT IN_MOBILIARIO_ESPECIFICO, Q017, TP_PRESENCA_CH, IN_CADEIRA_CANHOTO, TP_DEPENDENCIA_ADM_ESC, IN_DISCALCULIA, GABARITO_CN, IN_MESA_CADEIRA_RODAS FROM ENEM WHERE TP_STATUS_REDACAO = 4 LIMIT 1
 tem 1
79 - SELECT CO_UF_PROVA FROM ENEM WHERE ST_CONCLUSAO = 0 LIMIT 1
 tem 0
80 - SELECT COD_MUNICIPIO_INSC, UF_INSC FROM ENEM WHERE TP_LINGUA = 0 LIMIT 1
 tem 1
81 - SELECT TP_PRESENCA_CN FROM ENEM WHERE IN_OUTRA_DEF = 0 LIMIT 1
 tem 1
82 - SELECT CO_PROVA_LC FROM ENEM WHERE IN_STATUS_REDACAO = 6 LIMIT 1
 tem 0
83 - SELECT Q019 FROM ENEM WHERE IN_CADEIRA_ESPECIAL = 0 LIMIT 1
 tem 1
84 - SELECT ID_DEPENDENCIA_ADM_CENSO FROM ENEM WHERE IN_MOBILIARIO_OBESO = 0 LIMIT 1
 tem 1
85 - SELECT TP_ENSINO, Q012, NU_NT_LC, NU_NOTA_COMP1, IN_LAMINA_OVERLAY, NU_IDADE, PK_COD_ENTIDADE, IN_COMPUTADOR, IN_ESTUDA_CLASSE_HOSPITALAR, TP_SIT_FUNC_ESC, Q003, CO_UF_ENTIDADE_CERTIFICACAO, IN_SONDA, Q009, CO_PROVA_LC, CO_UF_RESIDENCIA, IN_DEFICIT_ATENCAO, IN_MESA_CADEIRA_RODAS, TP_STATUS_REDACAO, TP_ESTADO_CIVIL, TX_GABARITO_LC, IN_CADEIRA_CANHOTO, Q022, IN_ACESSO, ID_DEPENDENCIA_ADM_ESC, ST_CONCLUSAO, IN_APOIO_PERNA, NU_NOTA_COMP4, CO_ESCOLA, TP_LINGUA, IN_SURDO_CEGUEIRA, IN_UNIDADE_HOSPITALAR FROM ENEM WHERE NU_NT_MT = 0.0 LIMIT 1
 tem 0
86 - SELECT NO_ENTIDADE_CERTIFICACAO FROM ENEM WHERE TP_ESTADO_CIVIL = 0 LIMIT 1
 tem 1
87 - SELECT NU_NOTA_LC, IN_DISCALCULIA FROM ENEM WHERE IN_NOME_SOCIAL = 0 LIMIT 1
 tem 1
88 - SELECT IN_TRANSCRICAO, IN_SOROBAN, Q005, IN_BAIXA_VISAO FROM ENEM WHERE UF_INSC = '0'   LIMIT 1
 tem 0
89 - SELECT GABARITO_MT, IN_MESA_CADEIRA_RODAS FROM ENEM WHERE IN_MOBILIARIO_ESPECIFICO = 0 LIMIT 1
 tem 1
90 - SELECT SG_UF_RESIDENCIA, Q008 FROM ENEM WHERE Q020 = '0'  LIMIT 1
 tem 0
91 - SELECT CO_UF_NASCIMENTO, IN_IDOSO FROM ENEM WHERE IN_LEITURA_LABIAL = 0 LIMIT 1
 tem 1
92 - SELECT SG_UF_RESIDENCIA FROM ENEM WHERE TP_PRESENCA_LC = 1 LIMIT 1
 tem 1
93 - SELECT NU_NOTA_COMP3 FROM ENEM WHERE ST_CONCLUSAO = 0  LIMIT 1
 tem 0
94 - SELECT TP_COR_RACA, IN_SALA_ACOMPANHANTE FROM ENEM WHERE TP_ENSINO = 0 LIMIT 1
 tem 0
95 - SELECT TP_PRESENCA_LC FROM ENEM WHERE IN_MEDICAMENTOS = 0 LIMIT 1
 tem 1
96 - SELECT TP_LINGUA FROM ENEM WHERE IN_DEFICIENCIA_MENTAL = 0 LIMIT 1
 tem 1
97 - SELECT NU_NOTA_COMP4, IN_MEDIDOR_GLICOSE FROM ENEM WHERE NACIONALIDADE = '1.0'  LIMIT 1
 tem 0
98 - SELECT IN_MEDICAMENTOS FROM ENEM WHERE SG_UF_NASCIMENTO = 'RJ'  LIMIT 1
 tem 1
99 - SELECT NU_NOTA_COMP2, UF_INSC FROM ENEM WHERE CO_PROVA_MT = 150 LIMIT 1
 tem 0
100 - SELECT NU_NOTA_COMP5, IN_MESA_CADEIRA_RODAS, CO_PROVA_LC, NO_ENTIDADE_CERTIFICACAO, IN_DEFICIENCIA_AUDITIVA, TP_PRESENCA_LC, IN_LAMINA_OVERLAY, IN_TREINEIRO, IN_DEFICIENCIA_MENTAL, GABARITO_CN, IN_BRAILLE, Q003, IN_ESTUDA_CLASSE_HOSPITALAR, IN_SONDA, IN_SEM_RECURSO, Q005, SG_UF_ENTIDADE_CERTIFICACAO, TP_COR_RACA, Q008, GABARITO_MT, CO_ESCOLA, IN_CERTIFICADO, IN_AMPLIADA_18, NO_MUNICIPIO_PROVA, ID_DEPENDENCIA_ADM_ESC, CO_UF_ENTIDADE_CERTIFICACAO, UF_INSC, CO_MUNICIPIO_ESC, COD_MUNICIPIO_INSC, Q013, NU_NOTA_COMP2, GABARITO_LC FROM ENEM WHERE IN_MEDICAMENTOS = 0 LIMIT 1
 tem 1
101 - SELECT IN_QSE, Q018 FROM ENEM WHERE TX_GABARITO_CH = '0'  LIMIT 1
 tem 0
102 - SELECT TP_LOCALIZACAO_ESC FROM ENEM WHERE SIT_FUNC_ESC = 0 LIMIT 1
 tem 0
103 - SELECT NU_NT_CN, UF_MUNICIPIO_PROVA, COD_MUNICIPIO_ESC_CENSO, SIT_FUNC_CENSO FROM ENEM WHERE IN_ESTUDA_CLASSE_HOSPITALAR = 0 LIMIT 1
 tem 1
104 - SELECT Q025, IN_PROVA_DEITADO FROM ENEM WHERE NU_NOTA_COMP2 = 120.0 LIMIT 1
 tem 0
105 - SELECT Q013 FROM ENEM WHERE CO_MUNICIPIO_NASCIMENTO = 2507507 LIMIT 1
 tem 1
106 - SELECT TP_ENSINO FROM ENEM WHERE IN_SALA_ACOMPANHANTE = 0 LIMIT 1
 tem 1
107 - SELECT NU_NOTA_COMP5, Q009, CO_PROVA_CH, TP_LINGUA, Q006, Q017, TP_COR_RACA, TP_STATUS_REDACAO FROM ENEM WHERE NO_ENTIDADE_CERTIFICACAO = '0'  LIMIT 1
 tem 0
108 - SELECT TP_ENSINO FROM ENEM WHERE TP_PRESENCA_MT = 0 LIMIT 1
 tem 1
109 - SELECT COD_ETAPA_ENSINO_CENSO FROM ENEM WHERE NO_MUNICIPIO_ESC = 'BELEM'  LIMIT 1
 tem 0
110 - SELECT SG_UF_ESC, GABARITO_MT FROM ENEM WHERE NU_INSCRICAO = 190002706415 LIMIT 1
 tem 1
111 - SELECT TX_RESPOSTAS_MT FROM ENEM WHERE NU_INSCRICAO = 190004362468 LIMIT 1
 tem 1
112 - SELECT IN_SALA_ESPECIAL, ST_CONCLUSAO FROM ENEM WHERE CO_MUNICIPIO_ESC = 0 LIMIT 1
 tem 0
113 - SELECT IN_LAMINA_OVERLAY, TP_PRESENCA_CN FROM ENEM WHERE Q015 = 'A'  LIMIT 1
 tem 1
114 - SELECT NO_MUNICIPIO_RESIDENCIA, IN_MARCA_PASSO FROM ENEM WHERE IN_TEMPO_ADICIONAL = 0 LIMIT 1
 tem 1
115 - SELECT TP_ENSINO, TP_ST_CONCLUSAO, CO_UF_PROVA, IN_MATERIAL_ESPECIFICO, GABARITO_LC, Q015, NU_NT_MT, TP_STATUS_REDACAO FROM ENEM WHERE TP_DEPENDENCIA_ADM_ESC = 0 LIMIT 1
 tem 0
116 - SELECT TX_RESPOSTAS_MT, NU_NOTA_MT, CO_UF_ESC, IN_SONDA FROM ENEM WHERE IN_MOBILIARIO_ESPECIFICO = 0 LIMIT 1
 tem 1
117 - SELECT NU_NOTA_COMP2, IN_UNIDADE_HOSPITALAR, TX_GABARITO_CN, IN_LIBRAS, IN_MARCA_PASSO, TX_GABARITO_MT, IN_CERTIFICADO, IN_GESTANTE FROM ENEM WHERE IN_PRESENCA_CN = 0 LIMIT 1
 tem 0
118 - SELECT Q018, IN_ACESSO FROM ENEM WHERE NU_NOTA_COMP2 = 0.0 LIMIT 1
 tem 0
119 - SELECT IN_MARCA_PASSO FROM ENEM WHERE IN_LACTANTE = 0 LIMIT 1
 tem 1
120 - SELECT IN_BAIXA_VISAO FROM ENEM WHERE IN_OUTRA_DEF = 0 LIMIT 1
 tem 1
121 - SELECT UF_INSC FROM ENEM WHERE ID_LOCALIZACAO_ESC = 1 LIMIT 1
 tem 0
122 - SELECT NU_NT_CH FROM ENEM WHERE IN_MOBILIARIO_ESPECIFICO = 0 LIMIT 1
 tem 1
123 - SELECT IN_PRESENCA_CH, NU_NOTA_COMP2 FROM ENEM WHERE CO_MUNICIPIO_ESC = 0 LIMIT 1
 tem 0
124 - SELECT TX_GABARITO_CN FROM ENEM WHERE IN_DEFICIENCIA_MENTAL = 0 LIMIT 1
 tem 1
125 - SELECT TX_GABARITO_LC, IN_QSE FROM ENEM WHERE TX_RESPOSTAS_MT = '.............................................'  LIMIT 1
 tem 1
126 - SELECT IN_GUIA_INTERPRETE FROM ENEM WHERE IN_AMPLIADA_18 = 0 LIMIT 1
 tem 1

In [4]:
session.shutdown()
print ('# # FIM # #')

# # FIM # #